<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>navbar}}
        
        <header class="jumbotron">
            <div class="container">
                <div class="row row-content">
                    <div class="col-12">
                        <h1>Ready To Fill Some Forms??</h1>
                        <p>Scoll down and fill the forms you like</p>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active"><a href="#">Forms</a></li>
                </ol>
                </div>
            </div>
            <div class="container">
                {{#if noForm}}
                    <p>Hurray! There are no new forms available to fill, view the forms you have filled <a href="/users/me">here</a>.</p>
                {{/if}}
                {{#each forms}}
                    <div class="row">
                        <div class="col-12 col-sm-10">
                            <div class="card">
                                <h3 class="card-header bg-primary text-white">{{name}}</h3>
                                <p id="{{name}}-status" class="card-header">Not yet submitted</p>
                            </div>
                            <div class="card-body">
                                <form id="{{name}}" name="{{name}}">
                                    {{#each formats}}
                                        <div class="form-group row">
                                            <label for="#{{field}}" class="col-12 col-sm-2 col-form-label">{{field}}:</label>
                                            <div class="col-12 col-sm-10">
                                                <input type="{{type}}" id="{{field}}" name="{{field}}" class="form-control" placeholder="{{field}}">
                                            </div>
                                        </div>
                                    {{/each}}
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </main>
        <footer class="fixed-bottom">
            {{>footer}}
        </footer>

        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="/js/forms.js"></script>
    </body>
</html>