<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">

        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">NDC</a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{active1}}"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item {{active2}}"><a href="/forms" class="nav-link">Forms</a></li>
                <li class="nav-item {{active3}}"><a href="/about" class="nav-link">About Us</a></li>
                {{#if notLoggedIn}}
                    <li class="nav-item {{active4}}"><a href="/users/login" class="nav-link">Login</a></li>
                {{else}}
                    <li class="nav-item {{active4}}"><a href="/users/me" class="nav-link">Me</a></li>
                {{/if}}
            </ul>
        </div>
        
    </div>
</nav>